<!-- <mat-toolbar>
  <mat-menu>
    <mat-select placeholder="Choose your movie">
      <button *ngFor="let value of movies" value="option1">{{value.year}} -
        {{value.title}}</button>
    </mat-select>
  </mat-menu>
</mat-toolbar> -->

<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">Choose your movie</button>
  <mat-menu #menu="matMenu" (ngSubmit)="onClickMovie($value)" #movielist>
    <button mat-menu-item *ngFor="let value of movies" [value]="selectedMovie" (click)="onClickMovie(value.id)">
      {{value.year}} -
      {{value.title}}</button>
  </mat-menu>
  <mat-toolbar>