<div fxLayout="col wrap" fxLayoutAlign="center" >
    <img *ngIf = "!movie" src="..//../../assets/avatar.jpg" />
    <mat-card  *ngIf="movie" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>Year : {{movie.year}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/posters/{{movie.poster}}" alt={{movie.poster}} width="200px">
      <mat-card-content>
        <mat-card-subtitle>Year : {{movie.year}}</mat-card-subtitle>
        <mat-card-subtitle>Director : {{movie.director}}</mat-card-subtitle>
        <p *ngFor="let value of movies ; index as i">
          Sample {{movie.id}} : {{movie.audiolist[0].url}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
</div>