.example-card {
    max-width: 600px;
    margin: 15px
  }
  
  .example-header-image {
    background-image: url("../../../assets/avatar.jpg");
    background-size: cover;
  }

  img {
    max-height: 400px;
  }